{% extends "base.html" %}


{% block content %}
        <h1>Add a blog entry</h1>
        <form method='post'>
            <label>
                Title for your new blog:</br>
                <input type="text" name="title" style="width:200px"/>
            </label>
            </br>
            </br>
            <label>
                 Your new blog:</br>
                <input type="text" name="body" style="width:200px; height:200px;"/>
                </label>
            </br>
            </br>
            <input type="submit" value='Add Entry' />
        </form>

{% endblock %}


